* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: #40638d;
}



#wrapper {
    background-color: white;
    width: 100%;
}



header {
    height: 50px;
    width: 100%;
    background-color: #98b6c4;
}

nav {
    height: 9vh;
    width: 100%;
    background-color: aliceblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: inherit;
    top: 0;
}

/* --- Logo Nav --- */

#logo {
    height: 8vh;
    margin-left: 3vh;
}

#logo img {
    height: 100%;
}

/* --- Burger Nav --- */

#burger {
    margin-right: 3vh;
    cursor: pointer;
}

.burger-line {
    background-color: #40638D;
    height: 4px;
    width: 30px;
    margin: 6px 0px;
    border-radius: 1.5px;
    transition: all 0.3s ease;
}

.toggle #line-1 {
    transform: rotate(-30deg) translate(-6px, 7px);
}

.toggle #line-2 {
    opacity: 0;
}

.toggle #line-3 {
    transform: rotate(50deg) translate(-6px, -7px);
}

/* --- Nav-desktop --- */

#toggle-desk-nav {
    display: none;
    width: 60%;
    margin-right: 3vh;
}

#nav-links-desktop {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#nav-links-desktop li {
    list-style: none;
    font-family: 'Montserrat', sans-serif;
}



#nav-links-desktop a {
    text-decoration: none;
    color: #40638D;
    font-size: 1.2em;
    font-weight: 700;
}

#nav-links-desktop a:hover {
    color: #7db7c7;
}

/* --- Nav-mobile --- */

#nav-links-mobile {
    position: absolute;
    top: 9vh;
    right: 0;
    height: 70vh;
    background-color:white;
    width: 0vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-top: 10vh;
    padding-bottom: 10vh;
    overflow: hidden;
    transition: 0.5s;
    font-family: 'Montserrat', sans-serif;
    
    
}

#nav-links-mobile li {
    list-style: none;
    
}
#mobile-logo img {
    width: 10vh;
}

.show-links {
    white-space: nowrap;
}

#nav-links-mobile a {
    text-decoration: none;
    font-size: 1.6em;
    font-weight: 700;
    color: #40638D;
}

/*------- HERO image index -----*/
#hero-logo {
    width: 50vw;
}



/* --- Footer --- */
footer {
    height: 50px;
    background-color: #40638D;
}

p{
   
}

/* --- Up-arrow --- */

#scroll-container {
    max-width: 10%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-top: 40px;

}
#back-to-top-btn{
    display: none;
}

.pulsate-bck {
    -webkit-animation: pulsate-bck 1s ease-in-out infinite both;
    animation: pulsate-bck 1s ease-in-out infinite both;
}

.pulsate-bck {
    position: fixed;
    z-index: 1;
    bottom: 10px;
    width: 12%;
}

@-webkit-keyframes pulsate-bck {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes pulsate-bck {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

/* --- contactformular --- */

form {
    display: block;
}

.container {
    width: 90%;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 8%;
    padding-right: 8%;
    margin-left: auto;
    margin-right: auto;
    border: solid 1px #2b435b;
    
}

label {
    text-align: left;
    padding-left: 1%;
    padding-bottom: 1%;
    padding-top: 5%;
}

textarea {
 width: 80%;   
}

input {
    padding: 1%;
}


/*------------------------- Media Query -----------------*/
/* ---- Media query 750 px ---- */ 

@media screen and (min-width: 750px) {

    #nav-links-mobile {
        display: none;
    }

    #burger {
        display: none;
    }

    #toggle-desk-nav {
        display: block;
    }
    
    footer {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        padding-bottom: 4vh;
    }
    
    #footer-logo {
        margin-left: 3vw;
    }
    
    #footer-container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
    }
    
    .item-container {
        width: 30vw;
        margin-left: 3vw;
        margin-right: 3vw;
    }
    
    .footer-line {
        width: 30vw;
    }

}